<!DOCTYPE html>

<html>
<head>

<title>Unknown Logout</title>

</head>
<body style="background-color:#D2D6D9; margin:0px;
         padding:0px;
         overflow:hidden;">
   <div class='top-container' style="margin-top:-40px;font-size:25px;font-family: 'Segoe UI', 'Roboto', arial, sans-serif;overflow:visible; background-color:#3b9bf5; height:60px;color:white">
          <h4 style="padding-bottom:8px;padding-top:13px;  padding-left:12px;">Unknown Writers</h1>
        </div>
   <div class="Logout" style="margin-left:620px; margin-top:200px; font-size:25px;font-family: 'Segoe UI', 'Roboto', arial, sans-serif;padding:50px;background-color:#F2F2F2; position:absolute; border:2px solid #D2D6D9;box-shadow: 5px 10px#D2D6D9;">
       You are sucessfully logged out.  
   </div>
   <div style="font-size:25px;margin-left:622px;margin-top:350px;font-family: 'Segoe UI', 'Roboto', arial, sans-serif;">A sincere thanks for letting other's know.</div>
    
   
 
</body>
</html>